
<footer>
    <div class="image-list">
        <div class="image-item">
          <img src="./../../../../assets/img/logo_secretaria.png" alt="Logo secretaria de hacienda">
        </div>
        <div class="image-item">
          <img src="./../../../../assets/img/logo-sonora.png" alt="Logo Sonora">
        </div>
        <div class="image-item">
          <img src="./../../../../assets/img/logo.png" alt="Logo Sipinna">
        </div>
        <div class="image-item">
          <img src="./../../../../assets/img/logo-inegi.png" alt="Logo Inegi">
        </div>
      </div>
</footer>
